@import "../variables.scss";

.cards {
  width: 100%;
  height: 100vh;
  .background {
    #background {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 0;
      object-fit: cover;
      filter: brightness(50%);
    }
  }
  .content {
    position: relative;
    overflow: hidden;
    .header{
        position: sticky;
        text-align: center;
        color:$primary_text_color;
        h1{
          font-size: 4vw;
          font-weight: 600;
          text-shadow: aqua;
        }
        button{
          transition: 0.3s;
          padding: 10px;
          font-size: 1.5vw;
          font-weight: 500;
          border: transparent;
          background: $primary_color;
          color:$primary_text_color;
        }
        button:hover{
          transition: 0.4s;
          padding: 10px 5% 10px 5%;
          background: black;
        }
    }
    .cardList {
      position: relative;
      left: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

//css for no card avalaible
.noCard{
  background-color: $background_color;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i{
    color:red;
    font-size: 5vw;
  }
  h1{
    font-size: 4vw;
    font-weight: 700;
    color: $primary_text_color;
  }
  button{
    transition: 0.3s;
    background: $primary_color;
    border: transparent;
    font-size: 2.5vw;
    padding: 10px;
    color: $primary_text_color;
  }
  button:hover{
    transition: 0.4s;
    padding: 10px 20% 10px 20%;
    background: black;
  }
}
