//variables
$darkModeBKGD:  #1b262c;
$darkModeBKGD2: rgba(128, 128, 128, 0.411);
$secondaryColor: #0f4c75;
$thirdColor:#3282b8;
$primaryFont: 'Nunito', sans-serif;
$secondaryFont: 'PT Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style-type: none;
}
body{
    background-color: $darkModeBKGD;
}
#overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: $darkModeBKGD;
}

.main-content{
    margin-left:100px;
    width: 94.5vw;
}
#intro-video{
    position: fixed;
    top:0;
    left: 0;
    z-index: -1;
    filter: brightness(0.3);

}
.intro{
    color: white;
    text-align: center;
    position: relative;
    top: 30vh;
    h1{
        font-size: 5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $primaryFont;
    }
    #intro-greeting{
       position: absolute;
       top:-50px;
    }
    #glad{
        position:absolute;
        top:30px;
        font-size: 50px;
    }
    #intro-info{
        position:absolute;
        top:105px;
        font-size: 50px;
        width: 100%;
    }
    #createAccBtn{
        width: 400px;
        position: relative;
        top: 150px;
        left: -10px;
        margin: 30px;
        padding: 30px;
        background-color:$darkModeBKGD2;
        border: 6px solid $thirdColor;
        border-radius: 14px;
        color: white;
        font-size: 22px;
        font-family: $primaryFont;
        transition: 0.4s;
    }
    #createAccBtn:hover{
        transform: scale(1.15);
        background-color: white;
        color: $secondaryColor;
        transition: 0.4s;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
}

//from down here is css if profile created(main-content div is hidden)
.main-content1{
    margin-left:100px;
    width: 92.5vw;
    display: none;
    color: white;
    #customGreetingName{
        padding:4% 0px 0px 5.5%;
        font-size: 3.3rem;
    }
    #image-right{
        width: 27%;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 5%;
    }
    .menu{
        background-color:#27363f;
        width: 57%; //change for laptop display
        margin-left: 2.3%;
        position: relative;
        top: 50px;
        left: 50px;
        padding-top: 35px;
        padding-left: 15px;
        padding-bottom: 35px;
        border-radius: 10px;
        #addMoneyBtn{
            margin:2% 30px 0px 3%;
            padding:12px;
            width: 200px;
            color: white;
            border-radius: 10px;
            font-family: $primaryFont;
            font-size: 25px;
            background: $thirdColor;
            border:3px solid $thirdColor;
            transition: 0.3s;
            text-decoration: none;
        }
        #addMoneyBtn:hover{
            transform: scale(1.05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.3s;
        }
        #exchangeBtn{
            margin:2% 30px 0px 3%;
            padding:12px;
            width: 200px;
            color: white;
            border-radius: 10px;
            font-family: $primaryFont;
            font-size: 25px;
            background: transparent;
            border:3px solid $thirdColor;
            transition: 0.3s;
        }
        #exchangeBtn:hover{
            transform: scale(1.05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.3s;
        }
        #money{
            margin: 5% 0 0 3%;
            color: white;
        }
        #money-icon{
            font-size: 35px;
            position: absolute;
            right: 0;
            margin-right: 60px;
            margin-top: -37px
        }
    }
    #transactions-txt{
        width: 50%;
        position: relative;
        top: 80px;
        left: 92px;
    }
    .transactions{
        background-color:#27363f;
        width: 57%; //change for laptop display
        margin-left: 2.3%;
        position: relative;
        top:100px;
        left: 50px;
        padding: 20px;
        border-radius: 10px;
        #rightside{
            position: absolute;
            right: 0;
            padding-right: 30px;
        }
    }
}